<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://tolldata9373470623.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=AOZ9dEfH6ItUqN7M1EvGj7zzMaGVCIYGTNLwQUfafxU=" />


  </appSettings>
</configuration>